body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form {
    margin-bottom: 20px;
}

input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

p {
    margin: 0;
    font-size: 18px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}