<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random Site Finder</title>
</head>
<body>
    <form action="/" method="post">
        <input type="submit" name="Random HTTPS" value="Random HTTPS" />
    </form>

    {% if ip_value_HTTPS %}
        <p>New found IP : <a href="https://{{ ip_value_HTTPS }}/" target="_blank">{{ ip_value_HTTPS }}</a></p>
    {% endif %}

    <form action="/" method="post">
        <input type="submit" name="Random HTTP" value="Random HTTP" />
    </form>

    {% if ip_value_HTTP  %}
        <p>New found IP : <a href="http://{{ ip_value_HTTP }}/" target="_blank">{{ ip_value_HTTP }}</a></p>
    {% endif %}
</body>
</html>